html {
  background-color: #F7F4F0;
  cursor: url('images/nat260.gif'), auto;
  z-index: 1;
}
body {
  background: url(images/background_2.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
}

body {
  padding-top: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
}
html a:hover {
 cursor: url('images/nat260-hover copy.gif'), auto;
}
.top {
  padding: 2.5px;
}
.nav-cont{
  width: 100%;
  position: fixed;
  top: 0px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  z-index: 100;
}
.nav {
  min-height: 50px;
  background-color: #F7F4F0;
  width: 100%;
  margin: 0px auto;
  padding: 0 11% 0 11%;
  padding-bottom: 15px;
  z-index: 100;
}
.nav-logo img{
	height: 4em;
	width: auto;
  display: inline-block;
  float: left;
}
.nav-links {
  float: left;
  display: inline-block;
}
.nav-links li {
	float: left;
  display: inline-block;
  margin-top: 0;
}
.social-icon {
  float:right;
  display: inline-block;
  margin-right: 22%;
}
.social-icon li {
  float:left;
  display: inline-block;
  margin-top: 0;
}
.social-icon img {
  padding-right: 5px;
}


.nav-links a{
	font-size: 1.5em;
	color: #7ED5B5;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
  padding: 3px 25px;
  border-radius: 5px;
	}
  .nav-links a {
    transition: color 0.4s linear 0s;
    transition: background 0.4s linear 0s;
    -ms-transition: color 0.4s linear 0s;
    -ms-transition: background 0.4s linear 0s;
    -o-transition: color 0.4s linear 0s;
    -o-transition: background 0.4s linear 0s;
  }

.nav-links a:hover {
  background-color: #e4e4e4;
}

  .jumbotron{
  margin: 70px auto;
  width: 960px;
  background-color: #F7F4F0;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  z-index: 3;
  }
  .jumbotron a {
  	color: #BC8082;
  	font-weight: bold;
  	text-decoration: none;
  	}
  .jumbotron a:hover {
  	color: #7ED5B5;
  	}
  .jumbotron img {
  	border: 4px double #7ED5B5;
  	}
  .Pet-Slideshow img{
    width: 500px;
    height: 500px;
  }
  footer {
    background-color: #BC8082;
    padding: 40px 0px 40px 0px;
  }
  .footer li {
    display: inline-block;
  }
  .footer a{
    color: #F7F4F0;
    font-size: 1.5em;
  	font-family: 'Poiret One', cursive;
  	text-decoration: none;
    padding: 3px 25px;
    border-radius: 5px;
  }

h2 {
	background-color: #BC8082;
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 38px;
	margin-top: 1in;
  padding-left: 5px;
  margin: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
	}
p  {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #9f9f9f;
	font-size: 24px;
	text-align: justify;
  margin: 10px;
	}
h3 {
	color: #3581A6;
	font-family: 'Poiret One', cursive;
	font-size: 35px;
	}
hr {
	color: #9f9f9f;
	margin-top: 2cm;
	margin-bottom: 2cm;
	}
