body {
  cursor: url('images/nat260.gif'), auto;
	margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: #9f9f9f;
}
body a:hover {
 cursor: url('images/nat260-hover copy.gif'), auto;
}
.nav-cont{
  width: 100%;
  position: fixed;
  top: 0px;
}
.nav {
  min-height: 50px;
  background-color: #F7F4F0;
  width: 960px;
	border-bottom: 4px double #9f9f9f;
  margin: 0px auto;
  padding: 10px;
  padding-bottom: 15px;
}
.nav-logo img{
	height: 4em;
	width: auto;
  display: inline-block;
  float: left;
}
.nav-links {
  float: right;
  display: inline-block;
}
.nav-links li {
	float: left;
  display: inline-block;
  margin-left: 1cm;
  margin-top: 0;
}

.nav-links a{
	font-size: 1.5em;
	color: #3581A6;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
	color: #3581A6;
	text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
	}

.nav-links a:hover {
	color: #BC8082;
  background-color: #e4e4e4;

	}


  .jumbotron{
  margin: 70px auto;
  width: 960px;
  background-color: #F7F4F0;
  height: auto;
  }
  .jumbotron a {
  	color: #BC8082;
  	font-weight: bold;
  	text-decoration: none;
  	}
  .jumbotron a:hover {
  	color: #3581A6;
  	}
  .jumbotron img {
  	border: 4px double #3581A6;
  	}
h2 {
	background-color: #BC8082;
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 38px;
	margin-top: 2.4em;
	}
p  {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #9f9f9f;
	font-size: 24px;
	text-align: justify;
	}
body {
	background-color: #F7F4F0;
	}
h3 {
	Color: #3581A6;
	font-family: 'Poiret One', cursive;
	font-size: 35px;
	}
hr {
	color: #9f9f9f;
	margin-top: 2cm;
	margin-bottom: 2cm;
	}
  a {
    transition: color 0.4s linear 0s;
    transition: background 0.4s linear 0s;
    -ms-transition: color 0.4s linear 0s;
    -ms-transition: background 0.4s linear 0s;
    -o-transition: color 0.4s linear 0s;
    -o-transition: background 0.4s linear 0s;
  }
