.nav a {
	font-size: 4em;
	color: #3581A6;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
	margin-right: 1cm;
	text-align: center;
	}

.nav a:hover {
	color: #BC8082;
	border: 3px double #9f9f9f;
	}
.nav ul {
	margin: 25px 0px 0px 0px;
	text-align: center;
	padding-top: 2em;
	}
.nav p {
	background-color: #7F254E;
	}
.nav li {
	display: inline;
	}
h2 {
	background-color: #BC8082;
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 5.2em;
	margin-left: 3mm;
	margin-right: 3mm;
	text-align: center;
	}
p  {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #9f9f9f;
	font-size: 5em;
	margin-left: 1cm;
	margin-right: 1cm;
	text-align: justify;
	}
body {
	background-color: #F7F4F0;
	}
.logo {
	border: 4px double #9f9f9f;
	margin-right: 3mm;
	margin-left: 3mm;
	padding-right: 5px;
	}
.logo img{
	width: 925px;
	height: auto;
}
.jumbotron a {
	color: #BC8082;
	font-weight: bold;
	text-decoration: none;
	}
.jumbotron a:hover {
	color: #3581A6;
	}
.jumbotron img {
	border: 10px double #3581A6;
	}
h3 {
	Color: #3581A6;
	font-family: 'Poiret One', cursive;
	font-size: 4.3em;
	margin-left: 3mm;
	margin-right: 3mm;
	}
hr {
	color: #9f9f9f;
	margin-top: 1cm;
	margin-bottom: 1cm;
	margin-left: 2mm;
	margint-right: 2mm;
	}
.jumbotron img {
	max-width: 100%;
	height:auto;
}
h2 {
	font-weight:normal;
}
p {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}
a {
	font-weight: normal;
}
